<div class="sidenav-content-wrapper">
    <div class="sidenav-content-header">
        @if(!userPhoto()) {
            <div class="user-picture-placeholder">{{ fullName() }}</div>
        } @else {
            <img [src]="userPhoto()"/>
        }
        <span class="user-fullname">{{ userName() }}</span>
        <span class="user-role">
            @if(isAdmin()) {
                Administrador
            } @else {
                Paciente
            }
        </span>
    </div>
    <mat-nav-list>
        @for (item of items(); track $index) {
          @if (item.name === 'Administrador') {
            @if (isAdmin()) {
              <a mat-list-item>
                <mat-icon matListItemIcon class="material-symbols-sharp">{{ item.icon }}</mat-icon>
                <span>{{ item.name }}</span>
              </a>
            }
          } @else {
            <a mat-list-item>
              <mat-icon matListItemIcon class="material-symbols-sharp">{{ item.icon }}</mat-icon>
              <span>{{ item.name }}</span>
            </a>
          }
        }
      </mat-nav-list>
</div>