.content {
    padding: 24px;
    overflow-y: scroll;
}
mat-sidenav-container {
    height: calc(100vh - 64px);
}

.main-nav {
    -webkit-box-shadow: 5px 0px 14px 0px rgba(0,0,0,0.23);
    -moz-box-shadow: 5px 0px 14px 0px rgba(0,0,0,0.23);
    box-shadow: 5px 0px 14px 0px rgba(0,0,0,0.23);
}
.fab-button {
    position: fixed;
    bottom: 24px;
    right: 24px;
    z-index: 100;
    background-color: #8B0000;
}
mat-toolbar {
    position: relative;
    z-index: 5;
}
.app-title {
    margin-left: 10px;
    color: white;
}
.spacer { flex: 1 1 auto; }
