.ibc-dialog-wrapper {
    padding: 32px;
}
.step-buttons-wrapper {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    margin-top: 16px;
}
.aDescription {
    font-size: 11px;
    font-style: italic;
}

.m10 {
    margin-top: 24px;
}
.activity-container {
    display: flex;
    flex-direction: column;
}
.activity-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
}