<Loading [activated]="isLoading()" [loader]="'basic'" />
<section class="ibc-dialog-wrapper">
    <form [formGroup]="initialBodyCompForm" (ngSubmit)="saveInitialBodyCompData()">
        @if(formStep() === 1) {
            <h4>¿Cuál es tu fecha de nacimiento?</h4>
            <mat-form-field appearance="outline" gcFullWidth gcMargin="top, 12px">
                <mat-label>Fecha de nacimiento</mat-label>
                <input matInput [max]="maxDate" [matDatepicker]="picker" (dateInput)="addEvent($event)" formControlName="birthday" />
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker></mat-datepicker>
                @if (initialBodyCompForm.get('birthday')?.hasError('required')) {
                    <mat-error>Este campo es requerido</mat-error>
                }
                @if (initialBodyCompForm.get('age')?.hasError('min')) {
                    <mat-error>La edad mínima requerida es de 18 años.</mat-error>
                }
            </mat-form-field>
            <div class="step-buttons-wrapper">
                <button mat-flat-button type="button" (click)="onNextStep()" primaryColor>Siguiente</button>
            </div>
        }
        @if (formStep() === 2) {
            <h4>¿Cuál es tu peso actual?</h4>
            <mat-form-field appearance="outline" gcFullWidth gcMargin="top, 12px">
                <mat-label>Peso</mat-label>
                <input matInput type="number" formControlName="weight">
                <mat-icon matPrefix>monitor_weight</mat-icon>
            </mat-form-field>
            <div class="step-buttons-wrapper">
                <button mat-raised-button type="button" (click)="onPreviousStep()">Anterior</button>
                <button mat-flat-button type="button" (click)="onNextStep()" primaryColor>Siguiente</button>
            </div>
        }
        @if (formStep() === 3) {
            <h4>¿Cuál es tu estatura?</h4>
            <mat-form-field appearance="outline" gcFullWidth gcMargin="top, 12px">
                <mat-label>Estatura</mat-label>
                <input matInput type="number" formControlName="height">
                <mat-icon matPrefix>height</mat-icon>
            </mat-form-field>
            <div class="step-buttons-wrapper">
                <button mat-raised-button type="button" (click)="onPreviousStep()">Anterior</button>
                <button mat-flat-button type="button" (click)="onNextStep()" primaryColor>Siguiente</button>
            </div>
        }
        @if (formStep() === 4) {
            <h4>¿Cuál es tu porcentaje de masa grasa y masa muscular?</h4>
            <mat-form-field appearance="outline" gcFullWidth gcMargin="top, 12px">
                <mat-label>Masa Grasa</mat-label>
                <input matInput type="number" placeholder="en porcentaje" formControlName="bodyFat">
                <mat-icon matPrefix materialOutlined>body_fat</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline" gcFullWidth gcMargin="top, 20px">
                <mat-label>Masa Muscular</mat-label>
                <input matInput type="number" placeholder="en porcentaje" formControlName="muscleMass">
                <mat-icon matPrefix materialOutlined>exercise</mat-icon>
            </mat-form-field>
            <div class="step-buttons-wrapper">
                <button mat-raised-button type="button" (click)="onPreviousStep()">Anterior</button>
                <button mat-flat-button type="button" (click)="onNextStep()" primaryColor>Siguiente</button>
            </div>
        }
        @if (formStep() === 4) {
            <h4>¿Cuál es tu grasa visceral?</h4>
            <mat-form-field appearance="outline" gcFullWidth gcMargin="top, 12px">
                <mat-label>Masa Grasa</mat-label>
                <input matInput type="number" placeholder="en porcentaje" formControlName="bodyFat">
                <mat-icon matPrefix materialOutlined>body_fat</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline" gcFullWidth gcMargin="top, 20px">
                <mat-label>Masa Muscular</mat-label>
                <input matInput type="number" placeholder="en porcentaje" formControlName="muscleMass">
                <mat-icon matPrefix materialOutlined>exercise</mat-icon>
            </mat-form-field>
            <div class="step-buttons-wrapper">
                <button mat-raised-button type="button" (click)="onPreviousStep()">Anterior</button>
                <button mat-flat-button type="button" (click)="onNextStep()" primaryColor>Siguiente</button>
            </div>
        }
        @if (formStep() === 5) {
            <h4>¿Cuál es tu objetivo?</h4>
            <mat-form-field appearance="outline" gcFullWidth gcMargin="top, 12px">
                <mat-label>Objetivo</mat-label>
                <mat-select name="objective" formControlName="goal">
                    @for (objectives of patientObjectives; track objectives) {
                        <mat-option [value]="objectives.value">{{objectives.viewValue}}</mat-option>
                    }
                </mat-select>
                <mat-icon matPrefix materialOutlined>target</mat-icon>
            </mat-form-field>
            <div class="step-buttons-wrapper">
                <button mat-raised-button type="button" (click)="onPreviousStep()">Anterior</button>
                <button mat-flat-button type="button" (click)="onNextStep()" primaryColor>Siguiente</button>
            </div>
        }
        @if (formStep() === 6) {
            <h4>¿Qué nivel de actividad física tienes?</h4>
            <mat-form-field appearance="outline" gcFullWidth gcMargin="top, 12px">
                <mat-label>Actividad Física</mat-label>
                <mat-select name="activity" formControlName="physicalActivity">
                    @for (activity of patientPhysicalActivities; track activity) {
                        <mat-option [value]="activity.value">{{activity.name}}</mat-option>
                    }
                </mat-select>
                <mat-icon matPrefix materialOutlined>fitness_center</mat-icon>
            </mat-form-field>
            <div class="step-buttons-wrapper">
                <button mat-raised-button type="button" (click)="onPreviousStep()">Anterior</button>
                <button mat-flat-button type="button" (click)="onNextStep()" primaryColor>Siguiente</button>
            </div>
                                                                                                       
        }
        @if (formStep() === 7) {
            <h4>¿Tienes alergías alimentarias?</h4>
            <mat-slide-toggle formControlName="hasAllergies" gcMargin="top, 12px" (change)="hasAllergies = $event.checked">
                @if (initialBodyCompForm.get('hasAllergies')!.value) { 
                    <span gcMargin="left, 8px">Sí</span> 
                } @else { 
                    <span gcMargin="left, 8px">No</span>  
                }
            </mat-slide-toggle>
            @if (initialBodyCompForm.get('hasAllergies')!.value) {
                <mat-form-field appearance="outline" gcFullWidth gcMargin="top, 24px">
                    <mat-label>Tus Alergias</mat-label>
                    <mat-chip-grid #chipGrid gcMargin="bottom, 8px">
                        @for (allergy of initialBodyCompForm.get('allergies')?.value; track allergy) {
                            <mat-chip-row (removed)="removeAllergy(allergy)">
                                {{allergy}}
                                <button matChipRemove>
                                    <mat-icon>cancel</mat-icon>
                                </button>
                            </mat-chip-row>
                        }
                    </mat-chip-grid>
                    <input type="text"
                           #allergyInput
                           placeholder="Nueva Alergia..."
                           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                           matInput
                           [matAutocomplete]="auto"
                           [matChipInputFor]="chipGrid">
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectAllergy($event)">
                        @for (allergy of patientAllergies; track allergy) {
                            <mat-option [value]="allergy.nombre">
                                {{ allergy.nombre }}<br>
                                <span class="aDescription">{{ allergy.descripcion }}</span>
                            </mat-option>
                        }
                    </mat-autocomplete>
                    <mat-icon matPrefix materialOutlined>allergies</mat-icon>
                </mat-form-field>
            }
            <div class="step-buttons-wrapper">
                <button mat-raised-button type="button" (click)="onPreviousStep()">Anterior</button>
                <button mat-flat-button type="button" (click)="saveInitialBodyCompData()" primaryColor>Guardar Información</button>
            </div> 
        }
    </form>
</section>
