<section id="pricing" class="pricing-section">
    <h2>Our Pricing Plans</h2>
    <mat-button-toggle-group [formControl]="timePlan" aria-label="Time Plan">
        <mat-button-toggle value="mensual">Mensual</mat-button-toggle>
        <mat-button-toggle value="trimestral">Trimestral</mat-button-toggle>
        <mat-button-toggle value="semestral">Semestral</mat-button-toggle>
        <mat-button-toggle value="anual">Anual</mat-button-toggle>
    </mat-button-toggle-group>
    <p>Value is: {{ timePlan.value }}</p>
    @defer (on viewport) {  
        <div class="pricing-wrapper">
            @for (pricePlan of pricingPlans; track $index) {
                <div class="pricing-card" 
                    [@cardAnimation]="pricePlan.wanted ? 'popular' : ''">
                    <h3>{{ pricePlan.name }}</h3>
                    <p>Price: ${{ pricePlan.price }}</p>
                    <ul>
                        @for (feature of pricePlan.features; track $index) {
                            <li>{{ feature }}</li>
                        }
                    </ul>
                    @if (pricePlan.wanted) {
                        <button mat-flat-button class="active-btn">Get Started</button>
                    } @else {
                        <button mat-button>Get Started</button>
                    }
                </div>
            }
        </div>
    } @placeholder { 
        <div>Calendar placeholder</div>
    }
</section>
