<dashboard-toolbar (isCollapsed)="onToggleSidenav($event)" />
<mat-sidenav-container>
    <mat-sidenav opened mode="side" [style.width]="sideNavWidth()" class="main-nav">
        <sidenav-content 
            [userName]="(user$ | async)?.displayName"
            [userPhoto]="(user$ | async)?.photoURL"
            [isAdmin]="isAdmin()"
        />
    </mat-sidenav>
    <mat-sidenav-content class="content">
        sijdfkjldkfjalkdjlkajdflkajdslfkjasldkfjaslkdjf
        <button mat-fab class="fab-button" [matMenuTriggerFor]="fabMenu">
            <mat-icon style="color: white;">add_circle</mat-icon>
        </button>
        <mat-menu #fabMenu="matMenu">
            <button mat-menu-item>Item 2</button>
            <button mat-menu-item (click)="openAddWeightBottomSheet()">
                <mat-icon class="material-symbols-sharp">monitor_weight_gain</mat-icon>
                <span>Add today weight</span>
            </button>
        </mat-menu>
    </mat-sidenav-content>
</mat-sidenav-container>

