@if(capturedImage === null) {
  <div class="camera-container">
    <video #video [hidden]="(capturedImage$ | async)" autoplay playsinline></video>
    <button mat-mini-fab (click)="captureImage()">
      <mat-icon>photo_camera</mat-icon>
    </button>
  </div>
} @else {
  <div class="preview-container">
    @if(captureImage != null) {
      <img [src]="capturedImage" alt="Captured nutrition label" />
    }
    <div class="button-container">
      <button mat-flat-button color="primary" (click)="retakePhoto()">
        <mat-icon>delete</mat-icon>
        Delete
      </button>
      <button mat-flat-button color="warn" (click)="sendToServer()">
        <mat-icon>send</mat-icon>
        Done
      </button>
    </div>
  </div>
}
