<section class="auth-card-wrapper">
  <!-- Lenguajes -->
  <div class="auth-lang">
    <button mat-icon-button [mat-menu-trigger-for]="langMenu">
      <mat-icon>language</mat-icon>
    </button>
    <mat-menu #langMenu="matMenu">
      <button mat-menu-item (click)="onChangeLanguage('en')">
        <mat-icon svgIcon="lang-us"></mat-icon>
        English
      </button>
      <button mat-menu-item (click)="onChangeLanguage('es')">
        <mat-icon svgIcon="lang-mx"></mat-icon>
        Español
      </button>
    </mat-menu>
  </div> <!-- End of Lenguajes -->
  <!-- Login/Register Card -->
  <mat-card class="auth-card">
    <div class="auth-change-wrapper">
        <button mat-raised-button style="width: 100%;" [disabled]="isSignInActive()" (click)="activateSignIn()">
          {{'auth.signin-choose' | translate }}
        </button>
        <button mat-raised-button style="width: 100%;" [disabled]="isSignUpActive()" (click)="activateSignUp()">
          {{'auth.signup-choose' | translate }}
        </button>            
    </div>
    @if(isSignInActive()) {
      @defer (when isSignInActive()) {
        <gc-signin></gc-signin>  
      } @placeholder {
        <span class="cloader"></span>
      }
    } @else {
      @defer (when !isSignInActive()) {
        <gc-signup></gc-signup>
      } @placeholder {
        <span>Loading...</span>
      }
    }
  </mat-card>
</section>