<section class="progress-wrapper">
    <div class="tracker-wrapper">
        <span class="tracker-lvl">
            {{ patientProgress()!.currentCategory | translate }} | Lvl {{ patientProgress()?.level }}
        </span>
        <div class="progress-bar">
            <div class="progress" [style.width]="progressPercentage() + '%'">
            </div>
        </div>
        <span class="tracker-progress-text">
            {{ patientProgress()?.exp }}/{{ nextLevelExp() }}
        </span>
    </div>
</section>
