.user-toolbar {
    background-color: black;

    .toolbar-item { color: white; }
}
.user-fab {
    position: fixed;
    bottom: 32px;
    right: 32px;
    z-index: 1000;
    background-color: #850000;
    color: white;
}
.user-drawer-container {
    width: 100%;
    height: calc(100vh - 64px);
}
.user-sidenav {
    padding: 16px;
    width: 300px;
}
.user-drawer-content {
    padding: 16px;
}
.bottom-sheets {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #850000 !important;
}
.spacer { flex: 1 1 auto; }
.ml8 { margin-left: 8px; }
.mr8 { margin-right: 8px; }
.mt10 { margin-top: 10px; }

/* For Mobile */
@media screen and (max-width: 768px) {
    .user-fab {
        bottom: 16px;
        right: 16px;
    }
}